<ion-view view-title="É DIREITO SEU">
  <ion-content>
   <div class="testeira-procon">
		  <div  height="100" class="item item-image">
		    <img src="img/capa.jpeg">
		  </div>
	 </div>
    <div class="list card">
    	<div class="item item-image">
		    <img src="img/e_direto_seu/19.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/18.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/17.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/16.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/15.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/14.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/13.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/12.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/11.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/10.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/9.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/8.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/7.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/6.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/5.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/4.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/3.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/2.jpeg">
		</div>
		<br>
		<div class="item item-image">
		    <img src="img/e_direto_seu/1.jpeg">
		</div>
		<br>
	</div>
	<div class="rodape-procon">
	  <div class="title">
		<br>Telefone: 151 - E-mail procon@procon.df.gov.br<br>
	  </div>
  </div>
  </ion-content>
</ion-view>
