<ion-view view-title="PROCON-DF">
  <ion-content>
    <ion-list>
     <div class="testeira-procon">
		  <div  height="100" class="item item-image">
		    <img src="img/procon.jpg">
		  </div>
	 </div>
	 <div>
	 <table style="width:100%">
		  <tr>
		    <td>
		    	<a href="#/app/edicoes">
		    		<img width="160" height="140" src="img/direito_seu.jpg" >
		    	</a>
		    </td>
		    <td>
		    	<a href="#/app/procon_duvida">
		    		<img width="160" height="140" src="img/duvida.jpg">
		    	</a>
		    </td>
		  </tr>
		  <tr>
		    <td>
		    	<a href="#/app/emconstrucao">
		    		<img width="160" height="140" src="img/localizacao.jpg">
		    	</a>
		    </td>
		    <td>
		    	<a href="#/app/emconstrucao">
		    		<img width="160" height="140" src="img/151.jpg">
		    	</a>
		    </td>
		  </tr>

		  <tr>
		    <td>
		    	<a href="#/app/emconstrucao">
		    		<img width="160" height="140" src="img/cdc.jpg">
		    	</a>
		    </td>
		    <td>
		    	<a href="#/app/emconstrucao">
		    		<img width="160" height="140" src="img/consulta_processual.jpg">
		    	</a>
		    </td>
		  </tr>
	  </table>
	</div>

	<div class="rodape-procon">
  <div class="title">
	Venâncio 2000 - Setor Comercial Sul, Quadra 08<br> Bloco B-60, Sala 240<br>Brasilia - DF - CEP: 70.333-900<br>
							Telefone: 151 - E-mail procon@procon.df.gov.br
  </div>
</div>
	
    </ion-list>
  </ion-content>
</ion-view>
