<ion-view view-title="Dúvida">
  <ion-content>
    <div class="list">
	  <label class="item item-input">
	    <input type="text" placeholder="Nome">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="E-mail">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Telefone">
	  </label>
	  <label class="item item-input">
	    <textarea placeholder="Texto Denúncia"></textarea>
	  </label>
	</div>
	<a href="#/app/emconstrucao">
	<button class="button button-full button-assertive">
  		Enviar Dúvida
	</button>
	</a>
  </ion-content>
</ion-view>
